html {
    background: #EEEEEE;
    overflow: hidden;
}

canvas[resize] {
    width: 100%;
    height: 100%;
}

#text {
    font-family: "Source Sans Pro", helvetica, sans-serif;
    line-height: 1.3;
    font-size: 6em;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
}

canvas#background {
    position: absolute;
    max-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    top: 0;
    left: 0;
    background-size: cover;
}
