html {
    background: #EEEEEE;
    overflow: hidden;
}

canvas[resize] {
    width: 100%;
    height: 100%;
}

#text {
    font-family: "Source Sans Pro", helvetica, sans-serif;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ce006c;
}

#text h1 {
    font-size: 19em;
    font-weight: 900;
    margin-bottom: -0.2em;
}

#text h2 {
    margin: 12;
    font-weight: 100;
}

#text a {
    color: #ce006c;
}

#text a:hover {
    color: #5EC1CC;
    transition: 200ms ease-in-out;
}

#text b {
    font-size: 2em;
    font-weight: 200;
    letter-spacing: 19px;

}

canvas#background {
    position: absolute;
    max-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    top: 0;
    left: 0;
    background-size: cover;
}
