html {
    background: #EEEEEE;
    overflow: hidden;
}

canvas[resize] {
    width: 100%;
    height: 100%;
}

#text {
    font-family: "Source Sans Pro", helvetica, sans-serif;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
}

#text h1 {
    font-size: 9em;
    margin-bottom: -0.2em;
}

#text h2 {
    margin: 0;
    font-weight: 400;
}

#text a {
    color: #FFFFFF;
}

#text a:hover {
    color: #BAAAAA;
    transition: 200ms ease-in-out;
}

canvas#background {
    position: absolute;
    max-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    top: 0;
    left: 0;
    background-size: cover;
}
