body {
    font-family: "Source Sans Pro", helvetica, arial, sans-serif;
    line-height: 1.3;
    color: #E9E9E9;
    margin: 0px;
}
h1, h2, h3 {
    line-height: 1.2;
    margin-bottom: 0px;
}
a {
    color: #FEDE4F;
    text-decoration: none;
    transition: all 100ms ease-in;
}
a:hover {
    color: #E9E9E9;
}
a.button {
    text-align: center;
    font-size: 0.8em;
    padding: 5px 10px 6px;
    font-weight: 700;
    margin: 20px 10px;
    text-transform: uppercase;
    position: relative;
    color: #233447;
    transition: all 150ms ease-in;
    border: 1px solid #233447;
}
a.button:hover {
    background: #233447;
    color: #eee;
    border-color: #233447;
}
.container {
    width: calc(80% - 200px);
    height: 100%;
    max-width: 350px;
    min-width: 240px;
    vertical-align: middle;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    position: absolute;
    max-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
    top: 0;
    left: 0;
    background-size: cover;
    pointer-events: none;
    background-color: #eeeeee;
}

.content {
    font-weight: 300;
    padding: 24px;
    border-radius: 5px;
    background-color: #233447;
    z-index: 2;
    box-shadow: 0 0 14px 2px rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
}

.content.second {
  background-color: transparent;
  box-shadow: none;
}

#namecard {
    height: 100vh;
    min-height: 200px;
    font-size: 1.2em;
    position: relative;
    z-index: 2;
}
#contact {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 30px;
    z-index: 2;
}
#name {
    font-size: 1.5em;
    color: #f86b62;
    font-weight: 600;
}
#activities {
    height: 100vh;
    min-height: 280px;
    background-color: #f86b62;
    padding: 50px;
    font-size: 1.2em;
}
#footer {
    font-size: 15px;
    padding: 30px;
    margin: 30px;
    display: block;
    color: #233447;
    background-color: #FFF;
    text-align: center;
}
