body {
    font-family: "Source Sans Pro", helvetica, arial, sans-serif;
    line-height: 1.3;
    color: #E9E9E9;
    margin: 0px;
}

a {
    color: #FFDC00;
    text-decoration: none;
    transition: all 300ms ease-out;
}

a:hover {
    color: #E9E9E9;
}

p {
    font-weight: 300;
}

a.button {
    text-align: center;
    font-size: 1rem;
    padding: 5px 10px 6px;
    font-weight: 600;
    margin: 20px 10px;
    text-transform: uppercase;
    position: relative;
    color: #001f3f;
    transition: all 150ms ease-out;
    border: 1px solid #001f3f;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
    z-index: 2;

}
a.button:hover {
    background: #001f3f;
    color: #eee; // whiteish
    border-color: #001f3f;
}
.container {
    width: calc(80% - 200px);
    height: 100%;
    max-width: 550px;
    min-width: 240px;
    vertical-align: middle;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block {
  padding: 80px 68px;
}

.block span.title {
  font-weight: bold;
  font-style: italic;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

canvas {
    position: absolute;
    max-width: 100%;
    height: 95vh;
    width: 100vw;
    z-index: 1;
    top: 0;
    left: 0;
    background-size: cover;
    pointer-events: none;
    background-color: #eee;
}

#herowrapper {
    height: 95vh;
    min-height: 200px;
    position: relative;
    z-index: 2;
}

.facephoto {
    z-index: 3;
    display: block;
    width: 7.5em;
    margin: auto;
}

.facephoto img {
    -webkit-clip-path: circle(3.5em at center);
    width: 7.5em;
    z-index: 3;
    margin-top: -200px;
    margin-right: auto;
}

.content {
    font-weight: 300;
    padding: 24px;
    border-radius: 5px;
    background-color: #222;
    z-index: 2;
    box-shadow: 0 0 14px 2px rgba(0, 0, 0, 0.1);
    width: 350px;
}

#contact {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 30px;
    z-index: 2;
}

#name {
    font-size: 1.6em;
    font-weight: 600;
}


.block.up-photography p {
  max-width: 620px;
  width: auto;
  margin-top: 8px;
  padding-right: 36px;
}

.block.wwr p {
    max-width: 620px;
    width: auto;
    margin-top: 8px;
}

.block.wwr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f86b62;
}

.block.up-photography {
    background-color: #1AA8E2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block .up-photography .fullbleed {
    position: relative;
    background-image: url('img/up-cover.png');
    width: 100%;
}

.window {
  box-shadow: rgba(0, 0, 0, 0.15) 0 0 15px 0;
  border-radius: 3px;
  width: 292px;
  height: 180px;
  transition: all 200ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.window:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0 0 20px 1px;
  transform: scale(1.03, 1.03) rotate(0.4deg);
}

.paper:hover {
    transform: scale(1.03, 1.03);
}

.window .top-bar {
  background: #DFDFDF;
  border-radius: 3px 3px 0 0;
  text-align: left;
  display: block;
  height: 12px;
}

.window .top-bar .circle {
  display: inline-block;
  height: 5px;
  width: 5px;
  border-radius: 100%;
  transform: translateY(-9px);
  background: #F6F6F9;
}

.window .top-bar .circle:first-child {
  margin-left: 6px;
}

.window .top-bar .tab {
  box-sizing: border-box;
  display: inline-block;
  border-radius: 6px 6px 0 0;
  height: 8px;
  width: 57px;
  margin-left: 2px;
  transform: translateY(-6px);
  border-bottom: 8px solid #F6F6F9;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

.window .field {
  height: 11px;
  background: #F6F6F9;
}

.window .fill {
  border-radius: 0 0 3px 3px;
  width: 292px;
  height: 180px;
  background-color: white;
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
}

.block.research {
  background-color: #222;
}

.block #current {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.block.research .info{
  max-width: 520px;
}

.info {
    padding: 5px 35px;
    min-width: 200px;
}

.block.research .paper-preview {
    transition: all 150ms ease-out;
}

.block.research .paper-preview:hover {
    box-shadow: 0px 0px 20px #00A2FD;
}

.block.research .title{
  display: block;
  margin-bottom: 8px;
}

.block.research .info .info-title, .block.research .info p{
  display: inline;
}

.block.research .info .info-title {
  float: left;
  text-align: left;
  margin-top: 0;
}

#password-meter {
  background-image: url("pw-thumb.png");
  background-size: 200px;
  height: 300px;
  width: 200px;
  float: right;
  display: inline-flex;;
  right: 0;
  align-self: right;

}

.info-title {
    margin-top: 36px;
    width: 100%;
    display: block;
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
    margin-right: 8px;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 0.9em;
}

.info.description {
    max-width: 400px;
}

.block #past {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.paper {
  width: 165px;
  transition: all 80ms ease-in;
}

.paper-preview {
  width: 145px;
  height: 200px;
  margin: 0 auto;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 0 14px 2px rgba(0, 0, 0, 0.1);
}

span.paper-title{
  margin-top: 8px;
  font-size: 1rem;
  text-align: center;
  display: block;
  color: #EEE;
}

span.paper-description {
    margin-top: 15px;
    font-size: 0.6em;
    text-align: center;
    display: block;
}

.block.more {
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
}

.block.more p {
    width: auto;
    line-height: 1.4em;
}

#social {
    align-items: left;
    padding-left: 1em;
    display: flex;
}

#social img {
    transform: scale(1.25, 1.25);
    margin: 0.6em 0.6em;
    opacity: 0.3;
    vertical-align: middle;
    transition: all 100ms ease-in;
}

#social img:hover {
    opacity: 1;
}

/* phones */
@media (max-width: 570px) {
    #herowrapper { font-size: 1em; }
    #herowrapper .button { font-size: 1.1em; }

    .block p {
        font-size: 1.1em;
    }

    .block {
        min-width: 220px;
        padding: 80px 40px;
    }

    .window {
        display: none;
    }

    .block.research .info{
      padding-left: 0px;
    }

    .block #past {
        flex-direction: column;
    }

    .paper {
        padding: 1.1rem 0;
    }

    #social {
        flex-direction: column;
    }

    .block.more .info.description {
        margin: 0em 1em;
    }
}

/* large displays */
@media (min-width: 1100px) {
    .block.up-photography {
        padding: 5em 5em;
    }

    .info.description {
        max-width: 900px;
    }

    .block.more .info.description p {
        max-width: 500px;
    }
}
